<html>

<head th:replace="/fragments/head_index :: head">
</head>

<body class="main">

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <section>
        <table class="table table-dark mt-3">
            <thead>
                <tr class="text-center align-middle">
                    <th scope="col">ID</th>
                    <th scope="col">Titulo</th>
                    <th scope="col"></th>                                      
                </tr>
            </thead>
            <tbody th:each="noticia : ${noticias}">
                <tr class="text-center align-middle">
                    <th scope="row" th:text="${noticia.id}"></th>
                    <td th:text="${noticia.titulo}"></td>                 
                    <td>
                        <a th:href="@{/noticia/mostrar/__${noticia.id}__}">Ver noticia</a>
                    </td>                  
                </tr>

            </tbody>
        </table>
    </section>

    <section class=" text-center container">
        <div class="row mt-3">
            <div class="divVolver text-center container">
                <a th:href="@{/index}" class="btn btn-secondary my-2 botonVolver1">Volver</a>
            </div>
        </div>
    </section>

    <footer th:replace="/fragments/footer :: footer">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>